* {
  font-family:"Helvetica", "Arial, "san-serif;
}
body {
  padding-left: 30px;
  padding-right: 30px;
}
header {
  height: 100px;
  border-bottom: 1px solid #ccc;
}
header nav {
  float: right;
}
nav ul {
  padding: 0px;
  margin: 40px 0 0 0;
}
nav ul li {
  display: inline;
  margin: 0 10px 0 0;
}
nav a {
  text-decoration: none;
  color: #007bff;
  font-size: 18px;
}
nav a:hover {
  text-decoration: underline;
  color: #0056b3;
}
